<% include partials/crud-header.ejs %>
<div class="container-fluid">
    <div class="table-wrapper">
      <% if (restaurants.length > 0) {%>
        <table class="table table-hovered table-striped table-sm" id="restaurants_table">
          <thead class="thead-dark">
          <tr>
            <th scope="col">Name</th>
            <th scope="col">cuisine</th>
            <th scope="col">Address</th>
            <th scope="col">Zipcode</th>
            <th scope="col">Borough</th>
            <th scope="col">Action</th>
          </tr>
          </thead>
          <tbody>
          <% restaurants.forEach((restaurant, index) => { %>
            <tr>
              <td><%= restaurant._source.name %></td>
              <td><%= restaurant._source.cuisine %></td>
              <td><%= restaurant._source.address.building %> <%= restaurant._source.address.street %></td>
              <td><%= restaurant._source.address.zipcode %></td>
              <td><%= restaurant._source.borough %></td>
              <td>
                  <a href="/edit/<%= restaurant._id %>" rel="noopener" ><i class="material-icons md-18">edit</i></a>
                  <a href="/delete/<%= restaurant._id %>" ><i class="material-icons md-18">delete</i></a>
              </td>
            </tr>
          <% }) %>
          </tbody>
            <tfoot class="thead-dark">
            <tr>
                <th scope="col">Name</th>
                <th scope="col">cuisine</th>
                <th scope="col">Address</th>
                <th scope="col">Zipcode</th>
                <th scope="col">Borough</th>
                <th scope="col">Action</th>
            </tr>
            </tfoot>
        </table>
      <% } else { %>
        <p class="text-center">No players found. Go <a href="/add" >here</a> to add players.</p>
      <% } %>
    </div>
    </div>
</div>
</body>
</html>